@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: $primary-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

// Navbar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 2em;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;

    ul {
        display: flex;
    }

    a {
        padding: 0.5em;
        margin: 0 0.25em;

        &:hover {
            color: $primary-color;
        }
    } 
}
.landing {
    position: relative;
    margin-left: 5em;
    margin-top: 5em;
}
.show {
    margin-top: 1em;
}
.button {
    background-color:$success-color;
    border: none;
    color: $light-color;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
.local {
    font-family: $font-verdana;
    font-weight: bold;
    color: black;
}
.rate {
    font-family: $font-verdana;
    font-weight: bold;
    color: green;
}
.usd {
    font-family: $font-verdana;
    font-weight: bold;
    color: rgb(100, 100, 100);
    margin-top: 1em;
}
.time {
    font-family: $font-verdana;
    color: $danger-color;
    font-weight: bold;
}
h3 {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
}