body {
    background-image: url("img/bg.jpg");
}

.spacer {
    margin: 2em;
}

#moveC {
    position: relative;
  }
  #moveA {
    position: absolute;
  }

#box {
    width: 50px;
    height: 50px;
    background-color: black;
    border: 3px solid red;
}

#box2 {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 3px solid red;
}

table {
    margin-bottom: 2em;
}

thead{
    font-weight: bold;
}