@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET DB FIRST</h1>
</div>

<div class="row">
    @Html.ActionLink("List of products", "Index", "Products")<br />
    @Html.ActionLink("List of categories", "Index", "Categories")
</div>