@model ArnaudCore.ViewModels.Home.ListFilesViewModel

<h2>
    Files in
    <strong>@Model.Directory</strong>
</h2>
<div class="row">
    <div class="col-xs-4">
        @Html.ListBox("myfiles", Model.FilesList)
    </div>
    <div class="col-xs-4">
        @Html.DropDownList("myfiles2", Model.FilesList)
    </div>
</div>