 *{
   margin: 0;
   padding: 0;
 }
 body{
   font-family: sans-serif;
 }
 img{
   width: 100%;
   height: auto;
 }
 h1, h2, h3{
   font-family: 'Roboto Slab', serif;
 }
 h1{
   font-size: 4em;
   font-weight: lighter;
 }
 p{
   font-family: 'Roboto', sans-serif;
 }
 header{
   background-image: url("img/jaguar-etype.jpg");
   background-size: cover;
   background-position: center;
   color: white;
   height: 35em;
   display: grid;
   grid-template-columns:  auto 1fr auto;
   margin-bottom: 2em;
 }
 .header-div{
   display: flex;
   align-items: flex-end;
   padding: 1em;
 }
.nav-div{
  grid-column: 3/4;
  display: flex;
  align-items: flex-end;
  padding: 1em;

}
.li-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3em;
  text-align: right;
}
.featured{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  padding: 1em;
  grid-column-gap: 1em;
}
.featured-h{
  grid-column: 1/4;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
}
.featured-model-name{
  background-color: #eee;
  border: 1px solid #CCC;
  padding: 0.3em;
}
.info{
  display: grid;
  grid-template-areas: 'blank1 header1 header2 blank2'
                       'blank1 box1 box2 blank2'
                       'blank1 box1 box3 blank2';
  margin: 2em;
  grid-gap: 1em;
}
.upcomming-h{
  text-transform: uppercase;
  grid-area: header1;
  text-align: center;
}
.ticket-h{
  text-transform: uppercase;
  grid-area: header2;
  text-align: center;
}
.upcomming{
  grid-area: box1;
  display: grid;
  grid-template-columns: 3.5em 7fr;

}
.date{
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.city{
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
}
.red{
  color: #d82201;
  align-self: center;
  text-transform: uppercase;
  font-size: 0.8em;
}
.bold{
  font-weight: bold;
  font-size: 1.5em;
  align-self: center;
}
.ticket-1{
  grid-area: box2;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  text-align: center;
  align-items: center;
}
.ticket-1 p, .ticket-2 p{
  font-size: 0.8em;
}
.ticket-2{
  grid-area: box3;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  text-align: center;
  align-items: center;
  color: #9e9e9e;
}
.green{
  margin: 1em;
  padding: 0.3em;
  background-color: #47a347;
  color: white;
  font-size: 1.2em;
  width: 9em;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
}
.mrgray{
  margin: 1em;
  padding: 0.3em;
  background-color: #c4c4c4;
  color: white;
  font-size: 1.2em;
  width: 9em;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
}
footer{
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: #333;
  color: #ccc;
    padding: 1.5em 1em;
}
.footer-left{
  font-size: 0.8em;
  grid-column: 1/2;
  display: flex;
  align-items: flex-start;
}
.footer-right{
  grid-column: 4/5;
  display: flex;
  align-items: flex-end;
  grid-gap: 2em;
}

/* mobile */
@media only screen and (max-width: 600px) {
  header{
    background-image: url("img/jaguar-etype.jpg");
    background-size: cover;
    background-position: left;
    color: white;
    min-width: 600px;
    height: 35em;
    display: grid;
    grid-template-columns:  auto 1fr auto;
    margin-bottom: 2em;
  }
  .header-div{
    display: flex;
    align-items: flex-end;
    padding: 1em;
  }
 .nav-div{
   grid-column: 3/4;
   display: flex;
   align-items: flex-start;
   padding: 1em;

 }
 .li-div{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 3em;
   text-align: right;
 }
 .li-div{
   display: none;

 }
 .burger-menu{
   padding-right: 2em;
 }
.burger{
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

  .featured{
    display: grid;
    grid-template-areas: 'featured-header'
                         'car-1'
                         'car-1-text'
                         'car-2'
                         'car-2-text'
                         'car-3'
                         'car-3-text';

  }
  .featured-h{
    grid-area: featured-header;
  }
  .featured-car-img{
    min-width: 600px;;
    height: auto;
  }
  .car-1{
    grid-area: car-1;
  }
  .car-2{
    grid-area: car-2;
  }
  .car-3{
    grid-area: car-3;
  }
  .car-name-1{
    grid-area: car-1-text;
  }
  .car-name-2{
    grid-area: car-2-text;
  }
  .car-name-3{
    grid-area: car-3-text;
  }
  .info{
    display: grid;
    grid-template-areas: 'upcomming-header'
                         'upcommig'
                         'ticket-header'
                         'ticket-1'
                         'ticket-2';
  }
  .upcomming-h{
    grid-area: upcomming-header;
  }
  .upcomming{
    grid-area: upcommig;
  }
  .ticket-h{
    grid-area: ticket-header;
  }
  .ticket-1{
    grid-area: ticket-1;
  }
  .ticket-2{
    grid-area: ticket-2;
  }
  footer{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #333;
    color: #ccc;
      padding: 1.5em 1em;

  }
  .footer-left{
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: center;;
  }
  .footer-right{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    align-content: center;
  }
}
